@model IEnumerable<PrivateWeb.Models.Promotion>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
	<style>
		.table th,
		.table td {
			padding: 8px;
			max-width: 200px;
		}
	</style>
}

@section Title {
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<i class="bi bi-stickies"></i>
		</li>
		<li class="breadcrumb-item breadcrumb-active" aria-current="promotions">Promotions</li>
	</ol>
}

@section Search {
	<form action="" method="get">
		<div class="input-group">
			<input type="text" name="keyword" class="form-control" placeholder="Search">
			<button class="btn" type="submit">
				<i class="bi bi-search"></i>
			</button>
		</div>
	</form>
}

@section Contentmain {
	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-sm-12 col-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						View
						<button onclick="window.location.reload()" style="margin-left: 32px; border: 1px solid; padding: 0px 10px; font-size: 16px; border-radius: 12px;">refesh</button>
					</div>
					<div>
						<a asp-action="Create">
							<button type="button" class="w-40 btn btn-success btn-rounded" style="color: black;">New Promotion</button>
						</a>
					</div>

				</div>

				<div class="card-body">
					<div class="table-responsive">
						<table class="table v-middle m-0">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Slug</th>
									<th>Value</th>
									<th>Code</th>
									<th>Expiration date</th>
									<th>Create At</th>
									<th>Update At</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											<p>@Html.DisplayFor(modelItem => item.Id)</p>
										</td>
										<td>
											<p>@Html.DisplayFor(modelItem => item.Name)</p>
										</td>
										<td>
											<p>@Html.DisplayFor(modelItem => item.Slug)</p>
										</td>
										<td>
											<p>@Html.DisplayFor(modelItem => item.Value)</p>
										</td>
										<td>
											<p>@Html.DisplayFor(modelItem => item.Code)</p>
										</td>
										<td>
											<p>@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
										</td>
										<td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
										<td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
										<td>
											@if (@item.Status == 1)
											{
												<span class="badge shade-green min-70">Active</span>
											}
											else
											{
												<span class="badge shade-red min-70">block</span>
											}
										</td>
										<td>
											<div class="actions">
												<div class="icon">
													<a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
												</div>
												<div class="icon">
													<a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-x-square" style="color: red"></i></a>
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Row end -->

	<div class="app-footer">
		<span>© Private 2023</span>
	</div>
}