@using Microsoft.AspNetCore.Identity
@using PrivateWeb.Areas.Identity.Data

@inject SignInManager<PrivateWebUser> SignInManager
@inject UserManager<PrivateWebUser> UserManager

<header>
    <div class="private-header">
        <div class="private-header-left-section">
            <div class="header-menu js-menu-btn">
                <i class="ri-menu-line"></i>
                <span>Menu</span>
            </div>
            <div class="header-search">
                <i class="ri-search-line"></i>
                <span>Search</span>
            </div>
        </div>

        <div class="private-header-middle-section">
            <a href="/"class="title">Private</a>
        </div>

        <div class="private-header-right-section">

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-user-line icon--small"></i>
                        <span>Account</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            if (user != null)
                            {
                                var firstName = user.FirstName;
                                var lastName = user.LastName;
                                var roles = await UserManager.GetRolesAsync(user);
                                bool isAdminOrManager = roles.Any(role => role == "Admin" || role == "Manager");

                                if (isAdminOrManager)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                            <span>@(isAdminOrManager ? "Admin/Manager" : "")</span>
                                            @UserManager.GetUserId(User)
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a id="login-user-id" class="dropdown-item" href="@Url.Action("Profile", "Home")" data-user-id="@UserManager.GetUserId(User)">
                                        @if (!string.IsNullOrEmpty(firstName) || !string.IsNullOrEmpty(lastName))
                                        {
                                            <span>@firstName @lastName</span>
                                        }
                                    </a>
                                </li>
                            }
                            <li><a class="dropdown-item" href="@Url.Action("OrderHistories", "Home")">OrderHistories</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Profile", "Home")">Profile</a></li>
                        }
                        <li>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>

                    </ul>
                </div>
            }
            else
            {
                <div class="nav-item">
                    <a href="#">
                        <i class="ri-user-line icon--small"></i>
                        <span>Account</span>
                    </a>
                </div>
            }
            <div class="nav-item">
                <a href="/Home/Cart" class="cart-wrapper js-cart-wrapper">
                    <i class="ri-shopping-bag-line icon--small" data-content="0">
                        <nav class="cart-navbar js-cart-navbar">
                            <div class="cart-content js-cart-content">
                                
                            </div>

                            <div class="cart-calculate-price">
                                <div class="cart-price">
                                    <p>Subtotal:</p>
                                    <p><span></span> VND</p>
                                </div>
                                <div class="cart-checkout">
                                    CHECKOUT
                                    (<span></span>)
                                </div>
                            </div>
                        </nav>
                    </i>
                    <span>Cart</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Search container -->
    <nav class="search-navbar js-search-navbar">
        <div class="search-container">
            <div class="search-input">
                <input type="text" placeholder="Search" tabindex="-1">
                <i class="ri-search-line search-icon"></i>
            </div>

            <div class="search-matched-title">
                <p>Popular Categories</p>
            </div>

            <div class="search-matched-categories">
                
            </div>
        </div>
    </nav>

 
    <!-- Menu container -->
    <nav class="menu-navbar js-menu-navbar">
        <div class="nav-close js-nav-close">
            <i class="ri-close-line"></i>
            Close
        </div>
        @if (ViewData["Categories"] != null)
        {
            var categories = ViewData["Categories"] as List<Category>;
            <ul class="nav--categories">
                @foreach (var category in categories)
                {
                    <li><a href="@Url.Action("Index", "Categories", new { categoryName = category.Name, categoryId = category.Id })">@category.Name</a></li>
                }
            </ul>
        }
        <ul class="nav--infor">
            <li>
                <a asp-controller="Orders1" asp-action="Index">About Private</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">Call us</a>
            </li>
            <li>
                <a href="">Find a Store</a>
            </li>
        </ul>
    </nav>
    <div id="overlay"></div>
</header>