@{
    var specialPrices = ViewData["specialPrices"] as List<Product>; 
}

<div class="special-prices">
    <div class="container">
        <div class="wrap">
            <div class="heading">
                <h2 class="title" id="special-prices">Special Prices</h2>
            </div>
            <div class="inner-wrapper">
                <div class="dotgrid carouselbox">
                    <div class="wrapper">
                    @if (specialPrices != null) {
                            foreach (var sp in specialPrices)
                            {
                                decimal currentPrice = sp.Price * (1 - (sp.Promotion != null ? sp.Promotion.Value : 0));
                                <div class="item">
                                    <div class="dot-image">
                                        <a href="" class="product-permalink"></a>
                                        <div class="thumbnail">
                                            <img src="@Url.Content("~/UploadHome/product/products/thumb/" + @sp.Images?.Image1)" alt="">
                                        </div>
                                        <div class="thumbnail hover">
                                            <img src="@Url.Content("~/UploadHome/product/products/thumb/" + @sp.Images?.Image2)" alt="">
                                        </div>
                                        <div class="actions">
                                            <div><i class="ri-heart-line"></i></div>
                                            <div class="js-btn-add-cart" data-product-id="@sp.Id"><i class="ri-shopping-cart-line"></i></div>
                                            <a href="@Url.Action("Index", "Products", new { productId = sp.Id })"><i class="ri-eye-line"></i></a>
                                        </div>
                                        <div class="label"><span>-<span id="product-promo-value-id-@sp.Id">@(Math.Round((sp.Promotion?.Value ?? 0) * 100))</span>%</span></div>
                                    </div>
                                    <div class="dot-info">
                                        <h2 class="dot-title"><a href="" style="font-size: 10px">@sp.Title</a></h2>
                                        <div class="product-price">
                                            <span class="before">@sp.Price VND</span>
                                            <span class="current">@((int)Math.Round(currentPrice)) VND</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="see-more">
        <button>See more</button>
    </div>
</div>
